#page-content {
    margin-top: 2rem;
}

.section-title {
    padding-top: 1rem;
    text-align: center;
}

#header-logo {
    height: 40px;
    display: block;
    float: right;
}

#download-brand {
    font-size: 1rem;
    color: #eee;
}

.nav-link-item {
    font-size: 1.2rem;
    color: white;
}

.download-button {
    width: 6rem;
}

#matcalc-benchmark-legend table {
    width: 100%;

}

#matcalc-benchmark-legends {
  border-collapse: collapse;
  width: 100%;
}

#matcalc-benchmark-legends td, #matcalc-benchmark-legend th {
  border: 1px solid #ddd;
  padding: 8px;
}

#matcalc-benchmark-legend tr:nth-child(even){background-color: #f2f2f2;}

#matcalc-benchmark-legend tr:hover {background-color: #ddd;}

#matcalc-benchmark-legend th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
