#page-content {
    margin-top: 2rem;
}

.section-title {
    text-align: center;
}

#header-logo {
    height: 40px;
    display: block;
    float: right;
}

#download-brand {
    font-size: 1rem;
    color: #eee;
}

.nav-link-item {
    font-size: 1.2rem;
    color: white;
}

.download-button {
    width: 6rem;
}
